version: "3.9" # optional since v1.27.0
services:
  nameserver:
    build: .
    command: pyro5-ns -n nameserver
    environment:
      - "NS_AUTOCLEAN=3"
    ports:
      - 9090

  db:
    image: mongo:5.0.6
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=surveys
    volumes:
      - ./db:/data/db/

  # server:
  #   build: .
  #   depends_on:
  #     - nameserver
  #   command: "python -u greeting-server.py"
  #   environment:
  #     - "NS_HOST=nameserver"
  #   volumes:
  #     - ./:/app

  # client:
  #   build: .
  #   depends_on:
  #     - nameserver
  #   command: "python -u greeting-client.py"
  #   environment:
  #     - "NS_HOST=nameserver"
  #     - "NAME=Bruno"
  #   volumes:
  #     - ./:/app

  server:
    build: .
    depends_on:
      - nameserver
    command: "python -u survey-server.py"
    environment:
      - "NS_HOST=nameserver"
      - "DB_URI=mongodb://db:27017/surveys"
    volumes:
      - ./:/app

  client:
    build: .
    depends_on:
      - nameserver
    command: "python -u survey-client.py"
    environment:
      - "NS_HOST=nameserver"
    volumes:
      - ./:/app
